<div class="container">
 <!-- Page Header -->
    <div class="row">
        <h1 class="text-danger">HOT EDM SHARE
            <small>最新/熱門EDM</small>
            <%= link_to '分享你的音樂+' , new_video_post_path ,class:'btn btn-danger pull-right'%>
        </h1>
        <ul class='nav nav-tabs'>
            <li class="<%= 'active' if params[:tab].nil? %>">
                <%= link_to '最新 Music 分享',video_posts_path %>
            </li>

            <li class="<%= 'active' if params[:tab] == "hot" %>">
                <%= link_to 'Top 10 熱門 Music',video_posts_path(tab:'hot') %>
            </li>
        </ul>
    </div>

    <% if params[:tab].nil? %>
        <% @videopost.each do |video| %>
            <div class="col-md-4">
                <div class='row'>
                    <%= render 'video_posts/posts',video: video %>
                </div>
            </div>
        <% end %> 
        <div class="apple_pagination">
            <%= will_paginate @videopost %>
        </div> 
    <% else %>
          <% @hotvideopost.each do |video| %>
            <div class="col-md-4">
                <div class='row'>
                    <%= render 'video_posts/posts',video: video %>
                </div>
            </div>
        <% end %> 
    <% end %>
        
</div>




<!-- Pagination -->
<!-- <div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div> -->
<!-- /.row -->

<hr>

</div>