<%= render 'errors/errors',obj:@comment %>
<br>
<div class='col-md-1'>
</div>

<div class="col-md-7">
  <div class="panel panel-danger">
    <div class='panel panel-heading text-center'><%= @videopost.title %></div>
    <% @videopost.categories.each do |category| %>
      <%= link_to category_path(category) do %>
        <span class="badge"><%= category.name %></span>
      <% end %>
    <% end %>

    <div class="table-responsive">
      <table class="table">
        <tbody>
          <td>

            <%= social_share_button_tag(@videopost.title) %>
            <p class='pull-right'>
             
            </p>
       
     
            <div class="text-center">
              <%= @videopost.url_html %>
               <%= @videopost.description.html_safe %>
              <div class="star-rating" data-score= <%= @videopost.average_rating %>></div>

              </br>
               Created by <%= link_to @videopost.creator.username,user_path(@videopost.creator) %>
                <% if current_user == @videopost.creator %>
                  <%= link_to '編輯修改',edit_video_post_path(@videopost) %>
                <% end %>
              <%= @videopost.created_at %>
            </div>

          
            <span>
              <%= link_to '< 上一篇' ,(@videopost.previous if @videopost.previous),class:'btn btn-primary' %>
            </span>
            <span class='pull-right'>
              <%= link_to '下一篇 >',(@videopost.next if @videopost.next),class:"btn btn-primary" %>
            </span>

          </td> 
        </tbody>
      </table>
    </div><!-- table-responsive --> 
  </div><!-- panel  -->
  <%= form_for [@videopost,@comment] do |f| %>
      
    <div class='form-group'>
      <%= f.label :'Say something 說些什麼！？' %>
      <%= f.text_area :body ,class:'form-control' %>
    </div>
  
    <div id='star-rating'></div>
      <%= f.submit '送出' ,class:'btn btn-primary btn-xs pull-right'%>
      </br>   
  <% end %>

  <% @videopost.reload.video_comments.each do |comment| %>
    <%= render 'video_comments/video_comment',comment: comment %>
    <% if logged_in? && current_user.admin? %>
      <%#= link_to 'Delete',[@videopost,comment],method:'delete',class:'btn btn-danger btn-xs' %>
    <% end %>
    <hr>
  <% end %>

</div><!-- col-md-7 -->

<div class="col-md-3">
  <div class="panel panel-danger">
    <div class="panel panel-heading">關於我們</div>
      <table class="table">
        <td>
    如果你跟我們一樣，當tempo來了，不管當下在哪裡
      你都會想隨著音樂跳起來擺動，那你就是我們想要分享的對象
      ，分享EDM新聞、DJ News以及Party資訊，不分無聊的流派，
      只有High & 不High。
        </td>
      </table>
  </div>

  <div class="panel panel-danger">
    <div class="panel panel-heading">合作夥伴</div>
      <table class="table">
        <td>
          <div class="text-center">
            <%= link_to "https://www.facebook.com/PartycrazyEM" do %>
              <%= image_tag "../party_crazy_logo.png",width: 120,height: 90,alt: "Our partner Party Crazy " %>
            <% end %>
          </div>
        </td>
      </table>
  </div>

  <div class="panel panel-danger">
    <div class="panel panel-heading">熱門文章</div>
      <ol>
        <% @hotvideopost.each do |post| %>
          <%= link_to post do %>
            <li><%= post.title %></li>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>

</div>


 <script>
   $('#star-rating').raty({
     path:'/assets/',
     scoreName: 'video_comment[rating]'
   });
 </script>

<script>
  $('.star-rating').raty({
    path:'/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
    }
  });
</script>





