<div class="container">
  <div class='row'>
    <h1 class="text-danger">Hot EDM NEWS
      <small>最新/熱門News</small>
      <%= link_to '發佈新文章 +',new_post_path,class:'btn btn-danger pull-right' %>
    </h1>

    <ul class='nav nav-tabs'>
      <li class="<%= 'active' if params[:tab].nil? %>">
        <%= link_to '最新文章',posts_path %>
      </li>
      <li class="<%= 'active' if params[:tab] == 'hot' %>">
        <%= link_to 'Top 10 熱門文章',posts_path(tab:'hot')%>
      </li> 
    </ul>
  </div>

 
  <div class="row">
    <div class="col-md-12"> 
      
      <!--/stories-->
      <% if params[:tab].nil? %>
        <% @post.each do |post| %>
          <%= render 'posts',post:post %>
        <% end %>

        <div class="apple_pagination">
          <%= will_paginate @post %>
        </div>
      <% else %>
        <% @hotpost.each do |post| %>
          <%= render 'posts',post:post %>
        <% end %>
      <% end %>

    </div><!--/col-12-->
  </div>

</div>



