<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-danger">2014 Top 10 DJs</h2>
                <h3 class="section-subheading">2014 世界前10大 DJs</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "../hardwell.jpg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4 >2014 No.1 --</h4>
                                <h4 class="subheading">HradWell 硬．威爾</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left">
                                    風格: “Hardwell music.”</br>
                                    知名曲: “My DJ sets, productions and remixes, Revealed Recordings and Hardwell On Air radio show.”</br>
                                    年度最佳: “Coldplay ‘Sky Full of Stars’.”</br>
                                    國籍: Breda, Holland.</br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "../Dimitri_mike.jpg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4>2014 No.2 ↑</h4>
                                <h4 class="subheading">Dimitri Vegas & Like Mike</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left">
                                    風格: Big room electro/progressive</br>
                                    知名曲: Tomorrowland/Smash the House</br>
                                    年度最佳: Dimitri Vegas & Like Mike and Martin Garrix ‘Tremor’ (Spinnin' Records).”</br>
                                    國籍: Willebroek, Belgium</br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "../armin.jpg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4>2014 No.3 ↓</h4>
                                <h4 class="subheading">Armin Van Burren</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text">
                                    風格: “Trance.”</br>
                                    知名曲: “A State Of Trance, ASOT.”</br>
                                    年度最佳: “I think it's a draw between Jorn Van Deynhoven 'New Horizons' and MaRLo 'Visions'.”</br>
                                    國籍: Leiden, Netherlands</br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "../Martin-Garrix.jpeg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4>2014 No.4 ↑</h4>
                                <h4 class="subheading">Martin Garrix</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left">
                                    風格: “Energetic.”</br>
                                    知名曲: “Animals.”</br>
                                    國籍: Amstelveen, Holland</br>
                                    本屆黑馬，一舉攀升36個名次</br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "../tiesto.jpg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4>2014 No.5 ↓</h4>
                                <h4 class="subheading">Tiesto</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left">
                                    曲風: EDM</br>
                                    知名曲：每首都很有名，ＥＤＭ元老</br>
                                    國籍: Breda, Holland.</br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "../avicii.jpg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4>2014 No.6 ↓</h4>
                                <h4 class="subheading">Avicii</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left">
                                    曲風: Progressive, electro house, country/EDM, pop.</br>
                                    國籍: Sweden.</br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "../david_guetta.jpg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4>2014 No.7 ↓</h4>
                                <h4 class="subheading">David Guetta</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left">
                                    風格: “Whatever I like.”</br>
                                    知名曲: “Rocking the crowd.”</br>
                                    年度最佳: ‘Dangerous’, I hope. My new single, which is soon to be released. A totally new sound. Are you ready for it?”</br>
                                    國籍: Paris, France.</br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "../nicky_remero.jpg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4>2014 No.8 ↓</h4>
                                <h4 class="subheading">Nicky Romero</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left">
                                    曲風: “Full on, energetic.”</br>
                                    知名曲: “Lately, having my ‘Feet on the Ground’.”</br>
                                    年度最佳:  “The 'Next Level' track we released by John Christian was really big for me this year and a real floorfiller.”</br>
                                    國籍: Holland.</br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "../skrillex.jpg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4>2014 No.9 ↑</h4>
                                <h4 class="subheading">Skrillex</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left">
                                    曲風: Bass, electro and beyond.</br>
                                    國籍: LA, US.</br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "../steve_aoki.jpg" ,class:"img-circle img-responsive" %> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-danger">
                                <h4>2014 No.10 ↓</h4>
                                <h4 class="subheading">Steve Aoki</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-left">
                                    曲風: “Electro.”</br>
                                    知名曲: “Envisioning a 'Neon Future'.”</br>
                                    年度最佳:  “'Delirious (Boneless)'.”</br>
                                    國籍: Newport Beach, USA.</br>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
